<p id="notice"><%= notice %></p>

<p>
  <b>Rid:</b>
  <%= @dependent.rid_id %>
</p>

<p>
  <b>Name:</b>
  <%= @dependent.name %>
</p>

<p>
  <b>Relation:</b>
  <%= @dependent.relation %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @dependent.date_of_birth %>
</p>

