<%= form_for(@language_and_dialect) do |f| %>
  <% if @language_and_dialect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language_and_dialect.errors.count, "error") %> prohibited this language_and_dialect from being saved:</h2>

      <ul>
      <% @language_and_dialect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :miscellaneou_id %><br />
    <%= f.number_field :miscellaneou_id %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :speaks %><br />
    <%= f.text_field :speaks %>
  </div>
  <div class="field">
    <%= f.label :read %><br />
    <%= f.text_field :read %>
  </div>
  <div class="field">
    <%= f.label :write %><br />
    <%= f.text_field :write %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
