<%= link_to 'Edit', edit_military_history_path(@military_history_show) %>
<p>
  <b>Date of CAD / Enlisted in the AFP:</b>
  <%= @military_history_show.date_of_cad.strftime("%m-%d-%Y") %>
</p>

<p>
  <b>Date Commission / Enlistment:</b>
  <%= @military_history_show.date_commission.strftime("%m-%d-%Y") %>
</p>

<b>Important Unit assignment since CAD/Enlistment in the service</b>
<div class="tab-content">
  <div id="theForm" class="tab-pane">
    <a href="#unitAssignment" class="btn btn-mini" data-toggle="tab">Close</a>
    <%= render 'important_unit_assignments/form' %>
  </div>
  <div id="unitAssignment" class="tab-pane active">
    <a href="#theForm" class="btn btn-mini" data-toggle="tab">Add Unit</a>
    <table class="table table-bordered">
      <tr>
        <th>Unit</th>
        <th>Date Covered</th>
        <th></th>
      </tr>
      <% @military_history_show.important_unit_assignments.each do |unit| %>
          <tr>
            <td><%= unit.unit %></td>
            <td>From <%= unit.date1.strftime("%m-%d-%Y") %> until <%= unit.date2.strftime("%m-%d-%Y") %></td>
            <td>
              <%= link_to unit, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-mini btn-danger" do %>
                  <i class="icon-trash icon-white"></i>
              <% end %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<b>Military Schools Attended</b><br>
<div class="tab-content">
  <div id="newMilitarySchool" class="tab-pane">
    <a href="#militarySchool" class="btn btn-mini" data-toggle="tab">Close</a>
    <%= render 'military_schools/form' %>
  </div>
  <div id="militarySchool" class="tab-pane active">
    <a href="#newMilitarySchool" class="btn btn-mini" data-toggle="tab">Add Military School</a>
    <table class="table table-bordered">
      <tr>
        <th>Name of school</th>
        <th>Location</th>
        <th>Date of attendance</th>
        <th>Nature of training</th>
        <th>Rating</th>
        <th></th>
      </tr>

      <% @military_history_show.military_schools.each do |military_school| %>
          <tr>
            <td><%= military_school.name_of_school %></td>
            <td><%= military_school.location %></td>
            <td><%= military_school.date_of_attendance %></td>
            <td><%= military_school.nature_of_training %></td>
            <td><%= military_school.rating %></td>
            <td><%= link_to military_school, method: :delete, data: { confirm: "Are you sure you want to delete this military school record?" }, class: "btn btn-mini btn-danger", title: "Delete" do %>
                  <i class="icon-trash icon-white"></i>
              <% end %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<b>Awards, Decorations and Commendations Received:</b><br>
<div class="tab-content">
  <div id="newAward" class="tab-pane">
    <a href="#awards" class="btn btn-mini" data-toggle="tab">Close</a>
    <%= render 'received_military_awards/form' %>
  </div>
  <div id="awards" class="tab-pane-active">
    <a href="#newAward" class="btn btn-mini" data-toggle="tab">Add award</a>
    <table class="table table-bordered">
      <% @military_history_show.received_military_awards.each do |award| %>
          <tr>
            <td><%= image_tag("award.jpg", size: "40x40") %><%= award.awards %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<b>Promotions / Demotions</b>
<div class="tab-content">
      <div id="promotionsForm" class="tab-pane">
        <a href="#promotionsShow" class="btn btn-mini" data-toggle="tab">Close</a>
        <%= render 'promotion_demotions/form' %>
      </div>
      <div id="promotionsShow" class="tab-pane-active">
        <a href="#promotionsForm" data-toggle="tab" class="btn btn-mini">Add New Promotion/Demotion Record</a>
        <table class="table table-bordered">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Rank</th>
            <th>Authority</th>
            <th>Effectivity</th>
            <th></th>
          </tr>

        <% @personal_detail.rid.promotion_demotions.each do |promotion_demotion| %>
          <tr>
            <td><%= promotion_demotion.from %></td>
            <td><%= promotion_demotion.to %></td>
            <td><%= promotion_demotion.rank %></td>
            <td><%= promotion_demotion.authority %></td>
            <td><%= promotion_demotion.effectivity.strftime("%B %d, %Y") %></td>
            <td>
              <%= link_to promotion_demotion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" do %>
                <i class="icon-trash icon-white"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>