<h1>Listing military_histories</h1>

<table>
  <tr>
    <th>Date of cad</th>
    <th>Date commission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @military_histories.each do |military_history| %>
  <tr>
    <td><%= military_history.date_of_cad %></td>
    <td><%= military_history.date_commission %></td>
    <td><%= link_to 'Show', military_history %></td>
    <td><%= link_to 'Edit', edit_military_history_path(military_history) %></td>
    <td><%= link_to 'Destroy', military_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Military history', new_military_history_path %>
