<p id="notice"><%= notice %></p>

<p>
  <b>Soi form:</b>
  <%= @commendation.soi_form_id %>
</p>

<p>
  <b>Date received:</b>
  <%= @commendation.date_received %>
</p>

<p>
  <b>Awarded by:</b>
  <%= @commendation.awarded_by %>
</p>


<%= link_to 'Edit', edit_commendation_path(@commendation) %> |
<%= link_to 'Back', commendations_path %>
