<p id="notice"><%= notice %></p>

<%= @personal_detail.rank %> <%= @personal_detail.first_name %>

<div class="row">
  <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#personalDetails" data-toggle="tab">Personal Details</a></li>
      <li><a href="#personalCharacteristics" data-toggle="tab">Personal Characteristics</a></li>
      <li><a href="#maritalHistory" data-toggle="tab">Marital History</a></li>
      <li><a href="#familyHistory" data-toggle="tab">Family History and Information</a></li>
      <li><a href="#placeOfResidence" data-toggle="tab">Place of Residence</a></li>
      <li><a href="#educationalBackground" data-toggle="tab">Educational Background</a></li>
      <li><a href="#militaryHistory" data-toggle="tab">Military History</a></li>
      <li><a href="#employment" data-toggle="tab">Employment</a></li>
      <li><a href="#foreignCountryVisited" data-toggle="tab">Foreign Country Visited</a></li>
      <li><a href="#creditReputation" data-toggle="tab">Credit Reputation</a></li>
      <li><a href="#arrestRecordAndConduct" data-toggle="tab">Arrest Record and Conduct</a></li>
      <li><a href="#generalInformation" data-toggle="tab">General Information</a></li>
      <li><a href="#organization" data-toggle="tab">Organizations</a></li>
      <li><a href="#miscellaneous" data-toggle="tab">Miscellanous</a> </li>
    </ul>
  </div>
  <div class="span9">
    <div class="tab-content">
      <div class="tab-pane active" id="personalDetails">
        <p>
          <b>Last name:</b>
          <%= @personal_detail.last_name %>
        </p>

        <p>
          <b>First name:</b>
          <%= @personal_detail.first_name %>
        </p>

        <p>
          <b>Middle name:</b>
          <%= @personal_detail.middle_name %>
        </p>

        <p>
          <b>Rank:</b>
          <%= @personal_detail.rank %>
        </p>

        <p>
          <b>Afpsn:</b>
          <%= @personal_detail.AFPSN %>
        </p>

        <p>
          <b>Br svc:</b>
          <%= @personal_detail.BR_SVC %>
        </p>

        <p>
          <b>Assignment:</b>
          <%= @personal_detail.assignment %>
        </p>

        <p>
          <b>Duty address:</b>
          <%= @personal_detail.duty_address %>
        </p>

        <p>
          <b>Telephone:</b>
          <%= @personal_detail.telephone %>
        </p>

        <p>
          <b>Home address:</b>
          <%= @personal_detail.home_address %>
        </p>

        <p>
          <b>Birthdate:</b>
          <%= @personal_detail.birthdate %>
        </p>

        <p>
          <b>Place of birth:</b>
          <%= @personal_detail.place_of_birth %>
        </p>

        <p>
          <b>Change in name:</b>
          <%= @personal_detail.change_in_name %>
        </p>

        <p>
          <b>Nationality:</b>
          <%= @personal_detail.nationality %>
        </p>

        <p>
          <b>Tin:</b>
          <%= @personal_detail.tin %>
        </p>

        <p>
          <b>National reg cards no:</b>
          <%= @personal_detail.national_reg_cards_no %>
        </p>

        <%= link_to "Edit personal details record", edit_personal_detail_path(@personal_detail) %>
        </div>

      <div class="tab-pane" id="personalCharacteristics">
        <% if @characteristic.nil? %>
            <%= render 'personal_characteristics/form' %>
        <% else %>
            <legend>Description</legend>
            <p><b>Sex: </b><%= @characteristic.sex %></p>
            <p><b>Age: </b><%= @characteristic.age %></p>
            <p><b>Height: </b><%= @characteristic.height %></p>
            <p><b>Weight: </b><%= @characteristic.weight %></p>
            <p><b>Build: </b><%= @characteristic.build %></p>
            <p><b>Color of eyes: </b><%= @characteristic.color_of_eyes %></p>
            <p><b>Color of hair: </b><%= @characteristic.color_of_hair %></p>
            <p><b>Scars or marks and other distinguishing features: </b><%= @characteristic.scars_or_marks %></p>
            <legend>Physical Condition</legend>
            <p><b>Present State of health: </b> <%= @characteristic.state_of_health %></p>
            <p><b>Physical or Mental Defect: </b><%= @characteristic.physical_or_mental_defect %></p>
            <p><b>Recent Serious Illness: </b><%= @characteristic.recent_serious_illness %></p>
            <%= link_to "Edit Personal Characteristics record", edit_personal_characteristic_path(@characteristic) %>
        <% end %>
      </div>
      <div id="maritalHistory" class="tab-pane">
        <% if @marital.nil? %>
            <%= render 'marital_histories/form' %>
        <% else %>
            <p><b>Marital Status: </b><%= @marital.marital_status %></p>
            <p><b>Name of Spouse: </b><%= @marital.name_of_spouse %></p>
            <p><b>Place of marriage: </b><%= @marital.place_of_marriage %></p>
            <p><b>Date of marriage: </b><%= @marital.date_of_marriage %></p>
            <p><b>Place of marriage: </b><%= @marital.place_of_marriage %></p>
            <p><b>Date of birth: </b><%= @marital.birth_date %></p>
            <p><b>Place of birth: </b><%= @marital.birth_place %></p>
            <p><b>Occupation: </b><%= @marital.occupation %></p>
            <p><b>Place of employment: </b><%= @marital.place_of_employment %></p>
            <p><%= link_to "Edit Marital history record", edit_marital_history_path(@marital) %></p><br>
            <legend>Children</legend>
            <div class="accordion" id="childForm">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#childForm" href="#addChild">
                    Add child
                  </a>
                </div>
                <div id="addChild" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <%= render 'children/form' %>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Address</th>
              </tr>
              <% MaritalHistory.find_by_personal_detail_id(@personal_detail.id).children.each do |child| %>
                  <td><%= child.name %></td>
                  <td><%= child.birth_date %></td>
                  <td><%= child.address %></td>
              <% end %>
            </table>
        <% end %>
       </div>
      <div id="familyHistory" class="tab-pane">
        <% if @family.nil? %>
            <%= render 'family_histories/form' %>
        <% else %>
            <legend>Father</legend>
            <p><b>Father: </b><%= @family.father_name %></p>
            <p><b>Date and Place of Birth: </b><%= @family.father_date_of_birth.strftime("%m-%d-%Y") %> from <%= @family.father_place_of_birth %></p>
            <p><b>Address: </b><%= @family.father_address %></p>
            <p><b>Occupation & Place of Employment: </b><%= @family.father_occupation %> at <%= @family.father_place_of_employment %></p>
            <p><b>Citizenship: </b><%= @family.father_citizenship %></p>
            <p><b>Naturalized: </b><%= @family.father_naturalized ? "Yes" : "No" %></p>
            <% if @family.father_naturalized? %>
                <p><b>Place of naturalization: </b><%= @family.father_naturalized_date %></p>
                <p><b>Date of naturalization: </b><%= @family.father_naturalized_place %></p>
            <% end %>
            <legend>Mother</legend>
            <p><b>Mother: </b><%= @family.mother_name %></p>
            <p><b>Date and Place of Birth: </b><%= @family.mother_date_of_birth.strftime("%m-%d-%Y") %> from <%= @family.mother_place_of_birth %></p>
            <p><b>Address: </b><%= @family.mother_address %></p>
            <p><b>Occupation & Place of Employment: </b><%= @family.mother_occupation %> at <%= @family.mother_place_of_employment %></p>
            <p><b>Citizenship: </b><%= @family.mother_citizenship %></p>
            <p><b>Naturalized: </b><%= @family.mother_naturalized ? "Yes" : "No" %></p>
            <% if @family.mother_naturalized? %>
                <p><b>Place of naturalization: </b><%= @family.mother_naturalized_date %></p>
                <p><b>Date of naturalization: </b><%= @family.mother_naturalized_place %></p>
            <% end %>
            <legend>Brothers and Sisters</legend>
            <div class="accordion" id="siblingForm">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#siblingForm" href="#addSibling">
                    Add brother / sister
                  </a>
                </div>
                <div id="addSibling" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <%= render 'brothers_and_sisters/form' %>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Occupation</th>
                <th></th>
              </tr>
              <% @personal_detail.family_history.brothers_and_sisters.each do |sibling| %>
                <tr>
                  <td><%= sibling.name %></td>
                  <td><%= sibling.age %></td>
                  <td><%= truncate(strip_tags(sibling.address), length: 40) %></td>
                  <td><%= sibling.occupation %></td>
                  <td>
                    <%= link_to edit_brothers_and_sister_path(sibling), class: "btn btn-mini btn-warning", title: "Edit" do %>
                        <i class="icon icon-edit icon-white"></i>
                    <% end %>
                    <%= link_to sibling, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "You are about to delete this record. Are you sure?" }, title: "Delete" do %>
                        <i class="icon icon-trash icon-white"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
            <legend>Father-in-law</legend>
            <p><b>Father-in-law: </b><%= @family.father_in_law_name %></p>
            <p><b>Date and Place of Birth: </b><%= @family.father_in_law_birth_date.strftime("%m-%d-%Y") %> from <%= @family.father_in_law_place_of_birth %></p>
            <p><b>Address: </b><%= @family.father_in_law_address %></p>
            <p><b>Occupation & Place of Employment: </b><%= @family.father_in_law_occupation %> at <%= @family.father_in_law_place_of_employment %></p>
            <p><b>Citizenship: </b><%= @family.father_in_law_citizenship %></p>
            <p><b>Naturalized: </b><%= @family.father_in_law_naturalized ? "Yes" : "No" %></p>
            <% if @family.father_in_law_naturalized? %>
                <p><b>Place of naturalization: </b><%= @family.father_in_law_naturalized_date %></p>
                <p><b>Date of naturalization: </b><%= @family.father_in_law_naturalized_place %></p>
            <% end %>
            <legend>Mother-in-law</legend>
            <p><b>Mother-in-law: </b><%= @family.mother_in_law_name %></p>
            <p><b>Date and Place of Birth: </b><%= @family.mother_in_law_birth_date.strftime("%m-%d-%Y") %> from <%= @family.mother_in_law_place_of_birth %></p>
            <p><b>Address: </b><%= @family.mother_in_law_address %></p>
            <p><b>Occupation & Place of Employment: </b><%= @family.mother_in_law_occupation %> at <%= @family.mother_in_law_place_of_employment %></p>
            <p><b>Citizenship: </b><%= @family.mother_in_law_citizenship %></p>
            <p><b>Naturalized: </b><%= @family.mother_in_law_naturalized ? "Yes" : "No" %></p>
            <% if @family.mother_in_law_naturalized? %>
                <p><b>Place of naturalization: </b><%= @family.mother_in_law_naturalized_date %></p>
                <p><b>Date of naturalization: </b><%= @family.mother_in_law_naturalized_place %></p>
            <% end %>

            <%= link_to "Edit Family History and Information Record", edit_family_history_path(@family) %>
        <% end %>
      </div>
    <div id="placeOfResidence" class="tab-pane">
      <div class="accordion" id="residence">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#childForm" href="#residenceForm">
              Add Place of Residence
            </a>
          </div>
          <div id="residenceForm" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= render 'place_of_residences/form' %>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Inclusive Dates</th>
          <th>Complete Address</th>
        </tr>
        <% @personal_detail.place_of_residences.each do |residence| %>
            <tr>
                <td>From <%= residence.starting_date %> until <%= residence.date_left %></td>
                <td><%= residence.complete_address %></td>
            </tr>
        <% end %>
      </table>
      </div>
      <div id="educationalBackground" class="tab-pane">
        <% unless @personal_detail.educational_background.nil? %>
            <legend>Elementary</legend>
            <table class="table table-bordered">
              <tr>
                <th>Location</th>
                <th>Date of Attendance</th>
                <th>Year Graduate</th>
              </tr>
                <tr>
                  <td><%= @personal_detail.educational_background.elementary_location %></td>
                  <td>From <%= @personal_detail.educational_background.elementary_date_of_attendance1.strftime("%m-%d-%Y") %> until <%= @personal_detail.educational_background.elementary_date_of_attendance2.strftime("%m-%d-%Y") %></td>
                  <td><%= @personal_detail.educational_background.elementary_year_graduate %></td>
                </tr>
            </table>
            <% unless @personal_detail.educational_background.high_school_location == "" %>
            <legend>High School</legend>
            <table class="table table-bordered">
              <tr>
                <th>Location</th>
                <th>Date of Attendance</th>
                <th>Year Graduate</th>
              </tr>
              <tr>
                <td><%= @personal_detail.educational_background.high_school_location %></td>
                <td>From <%= @personal_detail.educational_background.high_school_date_of_attendance1.strftime("%m-%d-%Y") %> until <%= @personal_detail.educational_background.high_school_date_of_attendance2.strftime("%m-%d-%Y") %></td>
                <td><%= @personal_detail.educational_background.high_school_year_graduate %></td>
              </tr>
            </table>
            <% end %>
            <% unless @personal_detail.educational_background.college_location == "" %>
            <legend>College</legend>
            <table class="table table-bordered">
              <tr>
                <th>Location</th>
                <th>Date of Attendance</th>
                <th>Year Graduate</th>
              </tr>
              <tr>
                <td><%= @personal_detail.educational_background.college_location %></td>
                <td>From <%= @personal_detail.educational_background.college_date_of_attendance1.strftime("%m-%d-%Y") %> until <%= @personal_detail.educational_background.college_date_of_attendance2.strftime("%m-%d-%Y") %></td>
                <td><%= @personal_detail.educational_background.college_year_graduate %></td>
              </tr>
            </table>
            <% end %>
            <% unless @personal_detail.educational_background.post_graduate_location == "" %>
                <legend>Post Graduate</legend>
                <table class="table table-bordered">
                  <tr>
                    <th>Location</th>
                    <th>Date of Attendance</th>
                    <th>Year Graduate</th>
                  </tr>
                  <tr>
                    <td><%= @personal_detail.educational_background.post_graduate_location %></td>
                    <td>From <%= @personal_detail.educational_background.post_graduate_date_of_attendance1.strftime("%m-%d-%Y") %> until <%= @personal_detail.educational_background.post_graduate_date_of_attendance2.strftime("%m-%d-%Y") %></td>
                    <td><%= @personal_detail.educational_background.post_graduate_year_graduate %></td>
                  </tr>
                </table>
            <% end %>
            <% unless @personal_detail.educational_background.other_location == "" %>
                <legend>Other School Attended</legend>
                <table class="table table-bordered">
                  <tr>
                    <th>Location</th>
                    <th>Date of Attendance</th>
                    <th>Year Graduate</th>
                  </tr>
                  <tr>
                    <td><%= @personal_detail.educational_background.other_location %></td>
                    <td>From <%= @personal_detail.educational_background.other_date_of_attendance1.strftime("%m-%d-%Y") %> until <%= @personal_detail.educational_background.other_date_of_attendance2.strftime("%m-%d-%Y") %></td>
                    <td><%= @personal_detail.educational_background.other_year_graduate %></td>
                  </tr>
                </table>
            <% end %>
            <p><b>CIVIL SERVICE ELIGIBILITY: </b><%= @personal_detail.educational_background.civil_service_eligibility %></p>
            <%= link_to "Edit Educational Background", edit_educational_background_path(@personal_detail.educational_background) %>
        <% else %>
            <%= render 'educational_backgrounds/form' %>
        <% end %>
      </div>
    <div id="militaryHistory" class="tab-pane">
      <% if @personal_detail.military_history.nil? %>
          <%= render 'military_histories/form' %>
      <% else %>
          <%= render 'military_histories/show' %>
      <% end %>
    </div>
    <div id="employment" class="tab-pane">
      <% if @personal_detail.employments.first.nil? %>
        <%= render 'employments/form' %>
      <% else %>
          <div class="accordion" id="employmentAccordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#employmentAccordion" href="#addEmployment">
                  Add Employment Record
                </a>
              </div>
              <div id="addEmployment" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= render 'employments/form' %>
                </div>
              </div>
            </div>
          </div>
        <table class="table table-bordered">
          <tr>
            <th>Inclusive Date</th>
            <th>Type of employment</th>
            <th>Name & Address of Employment</th>
            <th>Nature of Leaving</th>
            <th></th>
          </tr>
          <% @personal_detail.employments.each do |employment| %>
          <tr>
            <td>From <%= employment.employment_date.strftime("%m-%d-%Y") %> until <%= employment.retirement.strftime("%m-%d-%Y") %></td>
            <td><%= employment.type_of_employment %></td>
            <td><%= employment.name %>, <%= employment.address %></td>
            <td><%= employment.nature_of_leaving %></td>
            <td>
              <%= link_to employment, method: :delete, data: { confirm: "Are you sure you want to delete this employment record?" }, class: "btn btn-mini btn-danger", title: "delete" do %>
                <i class="icon-trash icon-white"></i>
              <% end %>
            </td>
          </tr>
          </table>
        <% end %>
      <% end %>
    </div>
    <div id="foreignCountryVisited" class="tab-pane">
      <% if @personal_detail.foreign_country_visiteds.first.nil? %>
        <%= render 'foreign_country_visiteds/form' %>
      <% else %>
          <div class="accordion" id="countryForm">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#countryForm" href="#addCountry">
                  Add Foreign Country Visited
                </a>
              </div>
              <div id="addCountry" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= render 'foreign_country_visiteds/form' %>
                </div>
              </div>
            </div>
          </div>
        <table class="table table-bordered">
          <tr>
            <th>Inclusive Date</th>
            <th>Country Visited</th>
            <th>Purpose Of visit</th>
          </tr>
          <% @personal_detail.foreign_country_visiteds.each do |country| %>
            <tr>
                <td>From <%= country.start_date %> until <%= country.end_date %></td>
                <td><%= country.country_visited %></td>
                <td><%= country.purpose_of_visit %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
    <div id="creditReputation" class="tab-pane">
      <% if @personal_detail.credit_reputation.nil? %>
        <%= render 'credit_reputations/form' %>
      <% else %>
        <p><b>Salary Dependent: </b> <%= @personal_detail.credit_reputation.salary_defendant ? "Yes" : "No" %></p>
        <% unless @personal_detail.credit_reputation.salary_defendant? %>
        <p><b>Other sources of income:</b><%= @personal_detail.credit_reputation.other_income %></p>
        <% end %>
        <p><b>Name and address of Banks or credit institutions with accounts/loans: </b><%= @personal_detail.credit_reputation.name_address_of_banks %></p>
        <p><b>Filed statements of assets and liabilities with any government agency: </b><%= @personal_detail.credit_reputation.filed_assets_liabilities ? "Yes" : "No" %></p>
        <% if @personal_detail.credit_reputation.filed_assets_liabilities? %>
          <p><b>Agency: </b><%= @personal_detail.credit_reputation.what_agency %></p>
        <% end %>
        <p><b>Filed Income tax return: </b><%= @personal_detail.credit_reputation.filed_income_tax_return ? "Yes" : "No" %></p>
        <p><b>3 Credit References in the Philippines: </b></p>
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
          <tr>
            <td><%= @personal_detail.credit_reputation.credit_reference_name1 %></td>
            <td><%= @personal_detail.credit_reputation.credit_reference_address1 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.credit_reputation.credit_reference_name2 %></td>
            <td><%= @personal_detail.credit_reputation.credit_reference_address2 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.credit_reputation.credit_reference_name3 %></td>
            <td><%= @personal_detail.credit_reputation.credit_reference_address3 %></td>
          </tr>
        </table>
          <%= link_to "Edit Credit Reputation", edit_credit_reputation_path(@personal_detail.credit_reputation) %>
      <% end %>
    </div>
    <div id="arrestRecordAndConduct" class="tab-pane">
      <% if @personal_detail.arrest_record_and_conduct.nil? %>
        <%= render 'arrest_record_and_conducts/form' %>
      <% else %>
        <p><b>Investigated, indicted or convicted for any violation of the law: </b><%= @personal_detail.arrest_record_and_conduct.convicted_for_violation ? "Yes" : "No" %></p>
        <% unless @personal_detail.arrest_record_and_conduct.name_of_court.nil? %>
        <p><b>Name of Court, nature of offenses and disposition of the case: </b><%= @personal_detail.arrest_record_and_conduct.name_of_court %></p>
        <% end %>
        <p><b>Family member investigated/arrested, indicated or convicted for violation of the law: </b><%= @personal_detail.arrest_record_and_conduct.family_member_convicted ? "Yes" : "No" %></p>
        <% if @personal_detail.arrest_record_and_conduct.family_member_convicted? %>
          <p><b>Name of court, nature of the offense and disposition of the case: </b><%= @personal_detail.arrest_record_and_conduct.family_name_of_court %></p>
        <% end %>
        <p><b>Charged in any administrative case: </b><%= @personal_detail.arrest_record_and_conduct.administrative_case_charged ? "Yes" : "No" %></p>
        <% if @personal_detail.arrest_record_and_conduct.administrative_case_charged? %>
          <p><b>Details: </b><%= @personal_detail.arrest_record_and_conduct.explain_administrative_charge %></p>
        <% end %>
        <p><b>Arrested or detained in pursuant to the provision of PD 1081 and it's implementation orders (GO, SO, LOI): </b><%= @personal_detail.arrest_record_and_conduct.arrested_or_detained_pd ? "Yes" : "No" %></p>
        <% if @personal_detail.arrest_record_and_conduct.arrested_or_detained_pd? %>
        <p><b>Nature of the case and place of detention: </b><%= @personal_detail.arrest_record_and_conduct.case_nature_place_of_detention %></p>
        <% end %>
        <p><b>Taking Liquor or Narcotics: </b><%= @personal_detail.arrest_record_and_conduct.taking_liquor_or_narcotic %></p>
        <%= link_to "Edit Arrest record and conduct information", edit_arrest_record_and_conduct_path(@personal_detail.arrest_record_and_conduct) %>
      <% end %>
    </div>
    <div id="generalInformation" class="tab-pane">
      <% if @personal_detail.general_information.nil? %>
        <%= render 'general_informations/form' %>
      <% else %>
        <b>Five (5) Character References known for three (3) years or longer that is not related to <%= @personal_detail.rank %> <%= @personal_detail.first_name %></b>
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.reference_name1 %></td>
            <td><%= @personal_detail.general_information.reference_address1 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.reference_name2 %></td>
            <td><%= @personal_detail.general_information.reference_address2 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.reference_name3 %></td>
            <td><%= @personal_detail.general_information.reference_address3 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.reference_name4 %></td>
            <td><%= @personal_detail.general_information.reference_address4 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.reference_name5 %></td>
            <td><%= @personal_detail.general_information.reference_address5 %></td>
          </tr>
        </table>
        <b>List down three (3) neighbors at your present address or residence:</b>
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Address</th>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.neighbor_name1 %></td>
            <td><%= @personal_detail.general_information.neighbor_address1 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.neighbor_name2 %></td>
            <td><%= @personal_detail.general_information.neighbor_address2 %></td>
          </tr>
          <tr>
            <td><%= @personal_detail.general_information.neighbor_name3 %></td>
            <td><%= @personal_detail.general_information.neighbor_address3 %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div id="organization" class="tab-pane">
        <b>List of organizations or social groups which you have been a member of :</b>
          <div class="accordion" id="organizationsForm">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#organizationsForm" href="#organizations">
                  Add Organization
                </a>
              </div>
              <div id="organizations" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= render 'organizations/form' %>
                </div>
              </div>
            </div>
          </div>
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Date of membership & Posit Credit</th>
          </tr>
          <% @personal_detail.organizations.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td><%= organization.address %></td>
            <td><%= organization.date_of_membership.strftime("%m-%d-%Y") %></td>
          </tr>
          <% end %>
        </table>
    </div>
    <div id="miscellaneous" class="tab-pane">
      <% if @personal_detail.miscellaneou.nil? %>
        <%= render 'miscellaneous/form' %>
      <% else %>
        <p><b>Hobbies, Sports and Past time: </b><%= @personal_detail.miscellaneou.hobbies %></p>
          <b>Language and dialect (Indicate ability as fluent, fair or poor )</b><br>
          <div class="tab-content">
            <div id="languages" class="tab-pane active">
              <a href="#addLanguage" data-toggle="tab" class="btn btn-mini">Add Language/Dialect</a>
              <table class="table table-bordered">
                <tr>
                  <th>Languages and Dialects</th>
                  <th>Speaks</th>
                  <th>Read</th>
                  <th>Write</th>
                  <th>
                  <% @personal_detail.miscellaneou.language_and_dialects.each do |language| %>
                    <tr>
                      <td><%= language.language %></td>
                      <td><%= language.speaks %></td>
                      <td><%= language.read %></td>
                      <td><%= language.write %></td>
                      <td><%= link_to language, method: :delete, data: { confirm: "Are you sure? "}, class: "btn btn-mini btn-danger", title: "Delete" do %>
                            <i class="icon-trash icon-white"></i><% end %>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
            <div id="addLanguage" class="tab-pane">
              <a href="#languages" data-toggle="tab" class="btn btn-mini">List Languages/Dialects</a>
              <table class="table table-bordered">
                <tr>
                  <th>Language and Dialect</th>
                  <th>Speaks</th>
                  <th>Read</th>
                  <th>Write</th>
                </tr>
                <%= form_for(LanguageAndDialect.new) do |f| %>
                    <%= f.hidden_field :miscellaneou_id, value: @personal_detail.miscellaneou.id %>
                    <tr>
                      <td><%= f.text_field :language, style: "width:150px;" %></td>
                      <td><%= f.select :speaks, "<option>Fluent</option><option>Fair</option><option>Poor</option>".html_safe %></td>
                      <td><%= f.select :read, "<option>Fluent</option><option>Fair</option><option>Poor</option>".html_safe %></td>
                      <td><%= f.select :write, "<option>Fluent</option><option>Fair</option><option>Poor</option>".html_safe %></td>
                    </tr>
                    <tr>
                      <td colspan="4"><%= f.submit "Save", class: "btn" %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
        <p><b>Willing to undergo a lie detection test: </b><%= @personal_detail.miscellaneou.lie_detection_test ? "Yes" : "No" %></p>
      <% end %>
    </div>
    </div>
  </div>
</div>