<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "7th Marine Brigade", root_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "PHS", @personal_detail %></li>
      <% if @personal_detail.aadt.aadt_effective.present? %>
          <li><%= link_to "AADT w/ SOI", @personal_detail.aadt %></li>
      <% else %>
          <li><a href="#preventAadt" data-toggle="modal">AADT w/ SOI</a></li>
      <% end %>
      <% if @personal_detail.soi_form.postal_address.nil? || @personal_detail.soi_form.active_comsd_svc.nil? %>
          <li><%= link_to "SOI Form 2008", edit_soi_form_path(@personal_detail.soi_form) %></li>
      <% else %>
          <li><%= link_to "SOI Form 2008", @personal_detail.soi_form %></li>
      <% end %>
      <% if @personal_detail.rid.gsis.nil? || @personal_detail.rid.tin.nil? %>
          <li><%= link_to "RIDS", edit_rid_path(@personal_detail.rid) %></li>
      <% else %>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">RIDS<b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "RIDS", @personal_detail.rid %></li>
              <% if @personal_detail.rid.rids_short.city.present? || @personal_detail.rid.rids_short.zip_code.present? %>
                  <li><%= link_to "RIDS Short Assembly Test", @personal_detail.rid.rids_short %></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <li class="active"><a href="#applicationForms" data-toggle="modal">Application Forms</a></li>
    </ul>
  </div>
</div>

<div id="preventAadt" class="modal hide fade">
  <div class="modal-header">
    <button type="close" class="close" data-dismiss="modal">&times;</button>
    <h4><%= image_tag("warning-sign.jpg", size: "75x75") %>Cannot proceed to AADT w/ SOI</h4>
  </div>
  <div class="modal-body">
    <p>It seems that your Personal History Statement is currently incomplete. Please fill up the remaining forms before going to AADT w/ SOI. Some of the details of SOI are depending on your Personal History Statement.</p>
  </div>
  <div class="modal-footer">
    <button type="close" class="btn btn-inverse" data-dismiss="modal">Okay, I understand</button>
  </div>
</div>

<div id="applicationForms" class="modal hide fade">
  <div class="modal-header">
    <button type="close" data-dismiss="modal" class="close">&times;</button>
    <h4>Application Forms</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li><%= link_to "Security Application", @personal_detail.security_tag_application %></li>
      <li><%= link_to "Vehicle Passcard/Sticker Application", vehicle_passcard_personal_detail_path %></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="close" data-dismiss="modal" class="btn btn-inverse">Close</button>
  </div>
</div>

<div class="container">
  <div align="center">
    <h5>
      REPUBLIC OF THE PHILIPPINES<br>
      DEPARTMENT OF NATIONAL DEFENSE<br>
      GENERAL HEADQUARTERS, ARMED FORCES OF THE PHILIPPINES<br>
      Camp General Emilio Aguinaldo, Quezon City<br><br>
      APPLICATION FORM FOR PASSCARD/STICKER
    </h5>
    <hr>
  </div>
  <ol>
    <h5><li>PERSONAL DATA:</li></h5>
    <p><b>Name: </b><%= @personal_detail.last_name %>, <%= @personal_detail.first_name %>, <%= @personal_detail.middle_name %></p>
    <p><b>Grade/Rank: </b><%= @personal_detail.rank %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Br/Svc: </b><%= @personal_detail.BR_SVC %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>AFPSN: </b><%= @personal_detail.AFPSN %></p>
    <p><b>Residence Address: </b><%= @personal_detail.street_number %>, <%= @personal_detail.street_name %>, <%= @personal_detail.home_address %> <b>Tel #: </b>(<%= @personal_detail.telephone_area_code %>) <%= @personal_detail.telephone %></p>
    <p><b>Designation/Office: </b><%= @personal_detail.security_tag_application.office_division %></p>
    <p><b>Date of Retirement: </b><%= @personal_detail.soi_form.date_of_compulsory_retirement.strftime("%B %m, %Y") unless @personal_detail.soi_form.date_of_compulsory_retirement.nil? %></p>
    <h5><li>VEHICLE DATA:</li></h5>
    <div class="accordion" id="passcardForm">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#passcardForm" href="#addVehicle">
            Add Vehicle
          </a>
        </div>
        <div id="addVehicle" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render 'vehicle_passcards/form' %>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>Vehicle Make(s)</th>
        <th>Plate No</th>
        <th>Year Model</th>
        <th>Color</th>
        <th>Motor Number</th>
        <th>Chassis Number</th>
        <th>Decal Number</th>
      </tr>
      <% @personal_detail.vehicle_passcards.each do |passcard| %>
        <tr>
          <td><%= passcard.vehicle_make %></td>
          <td><%= passcard.plate_number %></td>
          <td><%= passcard.year_model %></td>
          <td><%= passcard.color %></td>
          <td><%= passcard.motor_number %></td>
          <td><%= passcard.chassis_number %></td>
          <td><%= passcard.decal_number %></td>
          <td>
            <%= link_to passcard, method: :delete, data: { confirm: "Are you sure you want to delete this?"}, title: "Delete", class: "btn btn-mini btn-danger" do %>
                <i class="icon-trash icon-white"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <h5><li>CATEGORY/TYPE OF VEHICLE STICKER:</li></h5>
    <div class="row">
      <div class="span6">
        <% if @personal_detail.vehicle_passcards.find_by_category("Type A (PASSCARD)").present? %>
            <i class="icon-ok"></i>
        <% else %>
            <i class="icon-remove"></i>
        <% end %>
        <b>Type A (PASSCARD)</b>
        <ol type="a">
          <li>Registered to active military personnel</li>
          <li>Staff vehicles registered to the AFP</li>
        </ol><br>
        <% if @personal_detail.vehicle_passcards.find_by_category("Type C (YELLOW)").present? %>
            <i class="icon-ok"></i>
        <% else %>
            <i class="icon-remove"></i>
        <% end %>
        <b>Type C (YELLOW)</b>
        <ol type="a">
          <li>Concessionaires/Traders with AFP Contract</li>
          <li>Official/Employee/Member of tenant entity/club facility on Post</li>
          <li>Diplomats and expatriates</li>
          <li>Selected sponsored civilians</li>
        </ol>
      </div>
      <div class="span5">
        <% if @personal_detail.vehicle_passcards.find_by_category("Type B (RED)").present? %>
            <i class="icon-ok"></i>
        <% else %>
            <i class="icon-remove"></i>
        <% end %>
        <b>Type B (RED)</b>
        <ol type="a">
          <li>Former military personnel of AFP Reservists</li>
          <li>Unremarried widow/widower of military personnel</li>
          <li>AFP & DND Civilian employees</li>
        </ol><br>
      </div>
    </div>
  </ol>
</div>