<p id="notice"><%= notice %></p>

<p>
  <b>Elementary location:</b>
  <%= @educational_background.elementary_location %>
</p>

<p>
  <b>Elementary date of attendance1:</b>
  <%= @educational_background.elementary_date_of_attendance1 %>
</p>

<p>
  <b>Elementary date of attendance2:</b>
  <%= @educational_background.elementary_date_of_attendance2 %>
</p>

<p>
  <b>Elementary year graduate:</b>
  <%= @educational_background.elementary_year_graduate %>
</p>

<p>
  <b>High school location:</b>
  <%= @educational_background.high_school_location %>
</p>

<p>
  <b>High school date of attendance1:</b>
  <%= @educational_background.high_school_date_of_attendance1 %>
</p>

<p>
  <b>High school date of attendance2:</b>
  <%= @educational_background.high_school_date_of_attendance2 %>
</p>

<p>
  <b>High school year graduate:</b>
  <%= @educational_background.high_school_year_graduate %>
</p>

<p>
  <b>College location:</b>
  <%= @educational_background.college_location %>
</p>

<p>
  <b>College date of attendance1:</b>
  <%= @educational_background.college_date_of_attendance1 %>
</p>

<p>
  <b>College date of attendance2:</b>
  <%= @educational_background.college_date_of_attendance2 %>
</p>

<p>
  <b>College year graduate:</b>
  <%= @educational_background.college_year_graduate %>
</p>

<p>
  <b>Post graduate location:</b>
  <%= @educational_background.post_graduate_location %>
</p>

<p>
  <b>Post graduate date of attendance1:</b>
  <%= @educational_background.post_graduate_date_of_attendance1 %>
</p>

<p>
  <b>Post graduate date of attendance2:</b>
  <%= @educational_background.post_graduate_date_of_attendance2 %>
</p>

<p>
  <b>Post graduate year graduate:</b>
  <%= @educational_background.post_graduate_year_graduate %>
</p>

<p>
  <b>Other location:</b>
  <%= @educational_background.other_location %>
</p>

<p>
  <b>Other date of attendance1:</b>
  <%= @educational_background.other_date_of_attendance1 %>
</p>

<p>
  <b>Other date of attendance2:</b>
  <%= @educational_background.other_date_of_attendance2 %>
</p>

<p>
  <b>Other year graduate:</b>
  <%= @educational_background.other_year_graduate %>
</p>

<p>
  <b>Civil service eligibility:</b>
  <%= @educational_background.civil_service_eligibility %>
</p>


<%= link_to 'Edit', edit_educational_background_path(@educational_background) %> |
<%= link_to 'Back', educational_backgrounds_path %>
