<div class="container">
  <div align="center">
    <h4>
      REPUBLIC OF THE PHILIPPINES<br>
      DEPARTMENT OF NATIONAL DEFENSE<br>
      GENERAL HEADQUARTERS, ARMED FORCES OF THE PHILIPPINES<br>
      Camp General Emilio Aguinaldo, Quezon City<br><br>
      APPLICATION FORM FOR PASSCARD/STICKER
    </h4>
  </div>
    <p id="notice"><%= notice %></p>


    <p>
      <b>Personal detail:</b>
      <%= @vehicle_passcard.personal_detail_id %>
    </p>

    <p>
      <b>Vehicle make:</b>
      <%= @vehicle_passcard.vehicle_make %>
    </p>

    <p>
      <b>Plate number:</b>
      <%= @vehicle_passcard.plate_number %>
    </p>

    <p>
      <b>Year model:</b>
      <%= @vehicle_passcard.year_model %>
    </p>

    <p>
      <b>Color:</b>
      <%= @vehicle_passcard.color %>
    </p>

    <p>
      <b>Motor number:</b>
      <%= @vehicle_passcard.motor_number %>
    </p>

    <p>
      <b>Chassis number:</b>
      <%= @vehicle_passcard.chassis_number %>
    </p>

    <p>
      <b>Decal number:</b>
      <%= @vehicle_passcard.decal_number %>
    </p>
</div>