<p id="notice"><%= notice %></p>

<p>
  <b>Sex:</b>
  <%= @personal_characteristic.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @personal_characteristic.age %>
</p>

<p>
  <b>Height:</b>
  <%= @personal_characteristic.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @personal_characteristic.weight %>
</p>

<p>
  <b>Build:</b>
  <%= @personal_characteristic.build %>
</p>

<p>
  <b>Color of eyes:</b>
  <%= @personal_characteristic.color_of_eyes %>
</p>

<p>
  <b>Color of hair:</b>
  <%= @personal_characteristic.color_of_hair %>
</p>

<p>
  <b>Scars or marks:</b>
  <%= @personal_characteristic.scars_or_marks %>
</p>

<p>
  <b>State of health:</b>
  <%= @personal_characteristic.state_of_health %>
</p>

<p>
  <b>Physical or mental defect:</b>
  <%= @personal_characteristic.physical_or_mental_defect %>
</p>

<p>
  <b>Recent serious illness:</b>
  <%= @personal_characteristic.recent_serious_illness %>
</p>


<%= link_to 'Edit', edit_personal_characteristic_path(@personal_characteristic) %> |
<%= link_to 'Back', personal_characteristics_path %>
