<%= render 'navigation' %>
<div class="container">
  <div align="center">
    <h5>
      PHILIPPINE NAVY<br>
      HEADQUARTERS NAVAL RESERVE COMMAND<br>
      INTELLIGENCE DIVISION<br>
      Cabildo St, Intramuros, Manila<br><br>
      <u>APPLICATION FOR RESERVIST SECURITY TAG</u>
    </h5>
  </div>
    <p id="notice"><%= notice %></p><br>

  <p><b>NAME: </b><%= @security_tag_application.personal_detail.last_name %>, <%= @security_tag_application.personal_detail.first_name %> <%= @security_tag_application.personal_detail.middle_name %></p>
  <p><b>RANK: </b><%= @security_tag_application.personal_detail.rank %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>AFPSN: </b><%= @security_tag_application.personal_detail.AFPSN %>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>BR OF SVC: </b><%= @security_tag_application.personal_detail.BR_SVC %></p>
  <p><b>OFFICE/DIVISION: </b><%= @security_tag_application.office_division %></p>
  <p><b>POSITION: </b><%= @security_tag_application.position %></p>
  <p><b>DATE REPORTED: </b><%= @security_tag_application.date_reported %></p>
  <p><b>DATE/PLACE OF BIRTH: </b><%= @security_tag_application.personal_detail.birthdate.strftime("%B %m, %Y") %>, <%= @security_tag_application.personal_detail.place_of_birth %></p>
  <p><b>HOME ADDRESS/TEL/CEL NR: </b><%= @security_tag_application.personal_detail.home_address %>, (<%= @security_tag_application.personal_detail.telephone_area_code %>) <%= @security_tag_application.personal_detail.telephone %>, <%= @security_tag_application.personal_detail.mobile_number %></p>
  <p><b>CITY ADDRESS/TEL/CEL NR: </b><%= @security_tag_application.city_address %>, <%= @security_tag_application.city_telephone %>, <%= @security_tag_application.city_cellphone %></p>
  <p><b>PERSON TO NOTIFY IN CASE OF EMERGENCY: </b></p>
  <p><b>NAME & RELATION: </b><%= @security_tag_application.name_to_notify %> (<%= @security_tag_application.relation_to_notify %>)</p>
  <p><b>ADDRESS/TEL/CEL NR: </b><%= @security_tag_application.address_to_notify %>, (<%= @security_tag_application.area_code_to_notify %>) <%= @security_tag_application.telephone_notify %>, <%= @security_tag_application.cellphone_notify %></p>

    <%= link_to 'Edit Security Tag Application', edit_security_tag_application_path(@security_tag_application) %>
</div>