<p id="notice"><%= notice %></p>

<p>
  <b>Father name:</b>
  <%= @family_history.father_name %>
</p>

<p>
  <b>Father date of birth:</b>
  <%= @family_history.father_date_of_birth %>
</p>

<p>
  <b>Father place of birth:</b>
  <%= @family_history.father_place_of_birth %>
</p>

<p>
  <b>Address:</b>
  <%= @family_history.address %>
</p>

<p>
  <b>Father occupation:</b>
  <%= @family_history.father_occupation %>
</p>

<p>
  <b>Father place of employment:</b>
  <%= @family_history.father_place_of_employment %>
</p>

<p>
  <b>Father citizenship:</b>
  <%= @family_history.father_citizenship %>
</p>

<p>
  <b>Father naturalized:</b>
  <%= @family_history.father_naturalized %>
</p>

<p>
  <b>Father naturalized date:</b>
  <%= @family_history.father_naturalized_date %>
</p>

<p>
  <b>Father naturalized place:</b>
  <%= @family_history.father_naturalized_place %>
</p>

<p>
  <b>Mother name:</b>
  <%= @family_history.mother_name %>
</p>

<p>
  <b>Mother date of birth:</b>
  <%= @family_history.mother_date_of_birth %>
</p>

<p>
  <b>Mother place of birth:</b>
  <%= @family_history.mother_place_of_birth %>
</p>

<p>
  <b>Address:</b>
  <%= @family_history.address %>
</p>

<p>
  <b>Mother occupation:</b>
  <%= @family_history.mother_occupation %>
</p>

<p>
  <b>Mother place of employment:</b>
  <%= @family_history.mother_place_of_employment %>
</p>

<p>
  <b>Mother citizenship:</b>
  <%= @family_history.mother_citizenship %>
</p>

<p>
  <b>Mother naturalized:</b>
  <%= @family_history.mother_naturalized %>
</p>

<p>
  <b>Mother naturalized date:</b>
  <%= @family_history.mother_naturalized_date %>
</p>

<p>
  <b>Mother naturalized place:</b>
  <%= @family_history.mother_naturalized_place %>
</p>

<p>
  <b>Father in law name:</b>
  <%= @family_history.father_in_law_name %>
</p>

<p>
  <b>Father in law birth date:</b>
  <%= @family_history.father_in_law_birth_date %>
</p>

<p>
  <b>Father in law place of birth:</b>
  <%= @family_history.father_in_law_place_of_birth %>
</p>

<p>
  <b>Father in law address:</b>
  <%= @family_history.father_in_law_address %>
</p>

<p>
  <b>Father in law occupation:</b>
  <%= @family_history.father_in_law_occupation %>
</p>

<p>
  <b>Father in law place of employment:</b>
  <%= @family_history.father_in_law_place_of_employment %>
</p>

<p>
  <b>Father in law citizenship:</b>
  <%= @family_history.father_in_law_citizenship %>
</p>

<p>
  <b>Father in law naturalized:</b>
  <%= @family_history.father_in_law_naturalized %>
</p>

<p>
  <b>Father in law naturalized date:</b>
  <%= @family_history.father_in_law_naturalized_date %>
</p>

<p>
  <b>Father in law naturalized place:</b>
  <%= @family_history.father_in_law_naturalized_place %>
</p>

<p>
  <b>Mother in law name:</b>
  <%= @family_history.mother_in_law_name %>
</p>

<p>
  <b>Mother in law birth date:</b>
  <%= @family_history.mother_in_law_birth_date %>
</p>

<p>
  <b>Mother in law place of birth:</b>
  <%= @family_history.mother_in_law_place_of_birth %>
</p>

<p>
  <b>Mother in law address:</b>
  <%= @family_history.mother_in_law_address %>
</p>

<p>
  <b>Mother in law occupation:</b>
  <%= @family_history.mother_in_law_occupation %>
</p>

<p>
  <b>Mother in law place of employment:</b>
  <%= @family_history.mother_in_law_place_of_employment %>
</p>

<p>
  <b>Mother in law citizenship:</b>
  <%= @family_history.mother_in_law_citizenship %>
</p>

<p>
  <b>Mother in law naturalized:</b>
  <%= @family_history.mother_in_law_naturalized %>
</p>

<p>
  <b>Mother in law naturalized date:</b>
  <%= @family_history.mother_in_law_naturalized_date %>
</p>

<p>
  <b>Mother in law naturalized place:</b>
  <%= @family_history.mother_in_law_naturalized_place %>
</p>


<%= link_to 'Edit', edit_family_history_path(@family_history) %> |
<%= link_to 'Back', family_histories_path %>
