<p id="notice"><%= notice %></p>

<p>
  <b>Personal detail:</b>
  <%= @general_information.personal_detail_id %>
</p>

<p>
  <b>Reference name1:</b>
  <%= @general_information.reference_name1 %>
</p>

<p>
  <b>Reference address1:</b>
  <%= @general_information.reference_address1 %>
</p>

<p>
  <b>Reference name2:</b>
  <%= @general_information.reference_name2 %>
</p>

<p>
  <b>Reference address2:</b>
  <%= @general_information.reference_address2 %>
</p>

<p>
  <b>Reference name3:</b>
  <%= @general_information.reference_name3 %>
</p>

<p>
  <b>Reference address3:</b>
  <%= @general_information.reference_address3 %>
</p>

<p>
  <b>Reference name4:</b>
  <%= @general_information.reference_name4 %>
</p>

<p>
  <b>Reference address4:</b>
  <%= @general_information.reference_address4 %>
</p>

<p>
  <b>Reference name5:</b>
  <%= @general_information.reference_name5 %>
</p>

<p>
  <b>Reference address5:</b>
  <%= @general_information.reference_address5 %>
</p>


<%= link_to 'Edit', edit_general_information_path(@general_information) %> |
<%= link_to 'Back', general_informations_path %>
