<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "7th Marine Brigade", root_path, class: "brand" %>
    <ul class="nav">
      <li><%= link_to "PHS", @aadt.personal_detail %></li>
      <li class="active"><%= link_to "AADT w/ SOI", @aadt %></li>
      <% if @aadt.personal_detail.soi_form.postal_address.nil? || @aadt.personal_detail.soi_form.active_comsd_svc.nil? %>
          <li><%= link_to "SOI Form 2008", edit_soi_form_path(@aadt.personal_detail.soi_form) %></li>
      <% else %>
          <li><%= link_to "SOI Form 2008", @aadt.personal_detail.soi_form %></li>
      <% end %>
      <% if @aadt.personal_detail.rid.gsis.nil? || @aadt.personal_detail.rid.tin.nil? %>
          <li><%= link_to "RIDS", edit_rid_path(@aadt.personal_detail.rid) %></li>
      <% else %>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">RIDS<b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <li><%= link_to "RIDS", @aadt.personal_detail.rid %></li>
              <% if @aadt.personal_detail.rid.rids_short.city.present? || @aadt.personal_detail.rid.rids_short.zip_code.present? %>
                  <li><%= link_to "RIDS Short Assembly Test", @aadt.personal_detail.rid.rids_short %></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <li><a href="#applicationForms" data-toggle="modal">Application Forms</a></li>
    </ul>
  </div>
</div>

<div id="applicationForms" class="modal hide fade">
  <div class="modal-header">
    <button type="close" data-dismiss="modal" class="close">&times;</button>
    <h4>Application Forms</h4>
  </div>
  <div class="modal-body">
    <ul>
      <li><%= link_to "Security Application", @aadt.personal_detail.security_tag_application %></li>
      <li><%= link_to "Vehicle Passcard/Sticker Application", vehicle_passcard_personal_detail_path(@aadt.personal_detail.id) %></li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="close" data-dismiss="modal" class="btn btn-inverse">Close</button>
  </div>
</div>