<h1>Listing aadts</h1>

<table>
  <tr>
    <th>Personal detail</th>
    <th>Rank</th>
    <th>Name</th>
    <th>Afpsn</th>
    <th>Undergo thirty days</th>
    <th>Date of commission</th>
    <th>Authority</th>
    <th>Date of last promotion</th>
    <th>Permanent address</th>
    <th>Residence tel no</th>
    <th>Assignment mobilization center</th>
    <th>Present reserve unit assignment</th>
    <th>Licence</th>
    <th>Special</th>
    <th>Skills</th>
    <th>Purpose of aadt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aadts.each do |aadt| %>
  <tr>
    <td><%= aadt.personal_detail_id %></td>
    <td><%= aadt.rank %></td>
    <td><%= aadt.name %></td>
    <td><%= aadt.afpsn %></td>
    <td><%= aadt.undergo_thirty_days %></td>
    <td><%= aadt.date_of_commission %></td>
    <td><%= aadt.authority %></td>
    <td><%= aadt.date_of_last_promotion %></td>
    <td><%= aadt.permanent_address %></td>
    <td><%= aadt.residence_tel_no %></td>
    <td><%= aadt.assignment_mobilization_center %></td>
    <td><%= aadt.present_reserve_unit_assignment %></td>
    <td><%= aadt.licence %></td>
    <td><%= aadt.special %></td>
    <td><%= aadt.skills %></td>
    <td><%= aadt.purpose_of_aadt %></td>
    <td><%= link_to 'Show', aadt %></td>
    <td><%= link_to 'Edit', edit_aadt_path(aadt) %></td>
    <td><%= link_to 'Destroy', aadt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aadt', new_aadt_path %>
